@charset "utf-8";

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
$family:'Noto Sans KR', sans-serif;
$width:1150px;
$auto:0 auto;

#wrap {
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    #mini {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: flex-end;
        border-top:4px solid  #192c8d;
        ul {
            margin: 20px 0;
            display: flex;
            li{
                margin: 0 5px;
                font : {
                    size: 10px;
                    weight:bold;
                }
            }
        }
    }
    #header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        #open img{
            cursor: pointer;
        }
        
        #logo{
            width: 1100px;
            height: 145px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            #search{
                width: 540px;
                height: 54px;
                border: 2px solid #000;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                margin-left: 40px;
                input[type=text]{
                    border: none;
                    width: 100%;
                    height: 100%;
                    outline: none;
                }
                input[type=image]{
                    width: 52px;
                    height: 52px;
                    padding: 12px;
                }
            }
        }
        #history{
            width: 100px;
            display: flex;
            align-items: center;
            img{
               &:nth-of-type(1){
                width: 32px;
                height: 32px;
                margin-right: 15px;
               }
               &:nth-of-type(2){
                width: 40px;
                height: 56px;
               }

            }
        }
    }
}
#slider{
    width: 100%;
    height: 450px;
    #over{
        width: $width;
        margin: 0 auto;
        height: 50px;
        display: flex;
        position: relative;
        &>div:nth-of-type(1){
            width: 180px;
            background-color: #333;
            color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &_text{
            width: 70%;
            text-align: center;
            font : {
                size:14px;
                // weight:bold ;
            }
        }
        &_img{
            width: 30%;
            height: 45%;
            background-image: url(../img/menu.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &>div:nth-of-type(2){
            width: 880px;
            display: flex;
            position: relative;
            overflow: hidden;
            #con{
                position: absolute;
                top: 0;
                left: 0;
                width: 1408px;
                height: 100%;
                display: flex;
            }
            .list{
                width: 176px;
                display: flex;
                font-size: 12px;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                div{
                    width: 34px;
                    height: 34px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                p{
                    width: 110px;
                }
                
                &1{
                    background-image: url(../img/list1.png);
                }
                &2{
                    background-image: url(../img/list2.png);
                }
                &3{
                    background-image: url(../img/list3.png);
                }
                &4{
                    background-image: url(../img/list4.png);
                }
                &5{
                    background-image: url(../img/list5.png);
                }
                &6{
                    background-image: url(../img/list6.png);
                }
                &7{
                    background-image: url(../img/list7.png);
                }
                &8{
                    background-image: url(../img/list8.png);
                }
            }
            
          
        }
        #btnbox{
            width: 90px;
            display: flex;
            align-items: center;
            div{
                width: 50%;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                cursor: pointer;
            }
            #prev{
                background-image: url(../img/prev.png);
            }
            #next{
                background-image: url(../img/next.png);
            }
        }
    }
    &_menu{
        width: 100%;
        height: 400px;
        background-color: #fffefb;
        position: relative;
        &>div:first-child{
            width: $width;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            #slider{
                &_text{
                    position: relative;
                    z-index: 2;
                    width: 180px;
                    height: 400px;
                    // background-color: aqua;
                    ul{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        // align-self: center;
                        color: #fff;

                    }
                    li{
                        background-color:rgba(50, 50, 50, 0.8);
                        line-height: 57px;
                        font-size: 14px;
                        height: 100%;
                        padding: 0 15px;
                        &:hover{
                            background-color:rgba(50, 50, 50, 1);

                        }
                    }
                    
                }
                &_img{
                    width: 780px;
                    height: 400px;
                    img{
                        width: 100%;
                    }
                }
            }
           
        }
    }
    &_book{
        width: 100%;
        height: 400px;
        background-color: #444;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        #book_con{
            width: 3060px;
            height: 100%;
            &>div{
                float: left;
                margin: 50px 15px 0px 15px;
                width: 480px;
                height: 300px;
                background-color: #fff;
                display: flex;
                .book_title{
                    width: 50%;
                    // background-color: aqua;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div{
                        width: 90%;
                        height: 70%;
                        span{
                            font-size: 12px;
                        }
                        p{
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }
                }
                .book_img{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
    }
}
@mixin bg {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,226,242,1) 100%);
    padding: 50px 0;
}
#bg{
    @include bg
}

#today{
    width: $width;
    height: 470px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_first{
        display: flex;
        align-items: center;
        h2{ 
            font-size: 25px;
        }
        p{
            font-size: 16px;
            font-weight: normal;
            margin-left: 10px;
        }
    }
    &_box{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        &>div{
            width: 23.5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 15px;
            
            background-color: rgb(248, 248, 248);
            img{
                width: 50%;
                height: 50%;
            }
            p{
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
            h2{
                font-size: 18px;
                text-align: center;
            }
            span{
                font-size: 12px;
                color: #9a9a9a;
            }

        }       
    }
}
#best{
    $border:1px solid #dadada;
    width: $width;
    height: 850px;
    margin: $auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #535353;

    &>h2{
        font-size: 25px;
    }
    &>ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        li{
            width: 158px;
            text-align: center;
            border: $border;
            padding: 5px 0;
            border-radius: 17px;
            cursor: pointer;
            &:first-of-type{
                color: #fff;
                border: 1px solid #464B6F;
                background: #464B6F;
            }
        }
    }
    &>div{
        width: 100%;
        height: 715px;
        border-top: $border;
        display: flex;
        justify-content: space-between;
        &>ul{
            width: 30%;
            height: 715px;
            // overflow-y:scroll;
            &::-webkit-scrollbar {
                width: 7px;
                height: 7px;
                background-color: #ced4da;
              }
                &::-webkit-scrollbar-thumb {
                    background: #464B6F;
                }
            li{
                border-bottom: $border;
                line-height: 50px;
                font-size: 14px;
                padding-left: 5px;
                cursor: pointer;
                &:first-of-type{
                    border-bottom:3px solid#464B6F ;
                }
            }
        }
        &>div{
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .best1{
                width: 100%;
                height: 45%;
                display: flex;
                li{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: relative;
                    img{
                        width: 80%;
                        height: 50%;
                        align-self: center;
                    }
                    p{
                        font-size: 13px;
                    }
                    h3{
                        font-size: 17px;
                    }
                    span{
                        font-size: 12px;
                    }
                    div{
                        position: absolute;
                        width: 27px;
                        height: 27px;
                        background-color: #535353;
                        color: #fff;
                        font-size: 12px;
                        text-align: center;
                        line-height: 27px;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

