@charset "utf-8";

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
$family:'Noto Sans KR', sans-serif;
$width:1150px;
$auto:0 auto;
$auto50:50px auto;
$smallColor:#535353;
$greyColor:#9e9e9e;
@mixin backCover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
@mixin backContain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
#wrap {
    width: 100%;
}
#left_menu{
    width: 160px;
    height: 100vh;
    position:fixed ;
    background-color: #fff;
    z-index: 5;
    // left: -200px;
    border-top:4px solid  #192c8d;
    // display: none;
    #close{
        width:30px;
        height: 75px;
        position: absolute;
        right:-26px;
        top: 50px;
        background-image: url(../img/close.png);
        @include backCover();
        cursor: pointer;
    }
    &>a{
        display: block;
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
#left_main{
    font-size: 12px;
    font-weight: bold;
    li{
        width: 100%;
        // height: 30px;
        line-height: 50px;
        background-color: #fff;
        &:not(:nth-child(1)){
            box-shadow: 0px -10px 10px #e9e9e9;
        }
       
        // text-align: center;
        padding-left: 20px;
        border-top: 1px solid #e9e9e9;
    }
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    #mini {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: flex-end;
        border-top:4px solid  #192c8d;
        ul {
            margin: 20px 0;
            display: flex;
            padding-right: 10px;
            li{
                margin: 0 5px;
                font : {
                    size: 10px;
                    weight:bold;
                }
            }
        }
    }
    #header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        #open img{
            cursor: pointer;
        }
        
        #logo{
            width: 1100px;
            height: 145px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            #search{
                width: 540px;
                height: 54px;
                border: 2px solid #000;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                margin-left: 40px;
                input[type=text]{
                    border: none;
                    width: 100%;
                    height: 100%;
                    outline: none;
                }
                input[type=image]{
                    width: 52px;
                    height: 52px;
                    padding: 12px;
                }
            }
        }
        #history{
            width: 100px;
            display: flex;
            align-items: center;
            img{
               &:nth-of-type(1){
                width: 32px;
                height: 32px;
                margin-right: 15px;
               }
               &:nth-of-type(2){
                width: 40px;
                height: 56px;
               }

            }
        }
    }
}
#slider{
    width: 100%;
    height: 450px;
    #over{
        width: $width;
        margin: 0 auto;
        height: 50px;
        display: flex;
        position: relative;
        &>div:nth-of-type(1){
            width: 180px;
            background-color: #333;
            color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &_text{
            width: 70%;
            text-align: center;
            font : {
                size:14px;
                // weight:bold ;
            }
        }
        &_img{
            width: 30%;
            height: 45%;
            background-image: url(../img/menu.png);
            @include backContain()
        }
        &>div:nth-of-type(2){
            width: 880px;
            display: flex;
            position: relative;
            overflow: hidden;
            #con{
                position: absolute;
                top: 0;
                left: 0;
                width: 1408px;
                height: 100%;
                display: flex;
            }
            .list{
                width: 176px;
                display: flex;
                font-size: 12px;
                justify-content: space-evenly;
                align-items: center;
                cursor: pointer;
                div{
                    width: 34px;
                    height: 34px;
                    @include backContain;
                }
                p{
                    width: 110px;
                }
                
                &1{
                    background-image: url(../img/list1.png);
                }
                &2{
                    background-image: url(../img/list2.png);
                }
                &3{
                    background-image: url(../img/list3.png);
                }
                &4{
                    background-image: url(../img/list4.png);
                }
                &5{
                    background-image: url(../img/list5.png);
                }
                &6{
                    background-image: url(../img/list6.png);
                }
                &7{
                    background-image: url(../img/list7.png);
                }
                &8{
                    background-image: url(../img/list8.png);
                }
            }
            
          
        }
        #btnbox{
            width: 90px;
            display: flex;
            align-items: center;
            div{
                width: 50%;
                height: 30px;
                @include backContain;
                cursor: pointer;
            }
            #prev{
                background-image: url(../img/prev.png);
            }
            #next{
                background-image: url(../img/next.png);
            }
        }
    }
    &_menu{
        width: 100%;
        height: 400px;
        background-color: #fffefb;
        position: relative;
        &>div:first-child{
            width: $width;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            #slider{
                &_text{
                    position: relative;
                    z-index: 2;
                    width: 180px;
                    height: 400px;
                    // background-color: aqua;
                    ul{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        // align-self: center;
                        color: #fff;

                    }
                    li{
                        background-color:rgba(50, 50, 50, 0.8);
                        line-height: 57px;
                        font-size: 14px;
                        height: 100%;
                        padding: 0 15px;
                        cursor: pointer;
                        &:hover{
                            background-color:rgba(50, 50, 50, 1);

                        }
                    }
                    
                }
                &_img{
                    width: 780px;
                    height: 400px;
                    img{
                        width: 100%;
                    }
                }
            }
           
        }
    }
    &_book{
        width: 100%;
        height: 400px;
        background-color: #444;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        #book_con{
            width: 3060px;
            height: 100%;
            &>div{
                float: left;
                margin: 50px 15px 0px 15px;
                width: 480px;
                height: 300px;
                background-color: #fff;
                display: flex;
                .book_title{
                    width: 50%;
                    // background-color: aqua;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div{
                        width: 90%;
                        height: 70%;
                        span{
                            font-size: 12px;
                        }
                        p{
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }
                }
                .book_img{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }
    }
}
@mixin bg {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,226,242,1) 100%);
    padding: 50px 0;
}
#bg{
    @include bg
}

#today{
    width: $width;
    height: 470px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_first{
        display: flex;
        align-items: center;
        h2{ 
            font-size: 25px;
        }
        p{
            font-size: 16px;
            font-weight: normal;
            margin-left: 10px;
        }
    }
    &_box{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        &>div{
            width: 23.5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 15px;
            
            background-color: rgb(248, 248, 248);
            img{
                width: 50%;
                height: 50%;
            }
            p{
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
            h2{
                font-size: 18px;
                text-align: center;
            }
            span{
                font-size: 12px;
                color: #9a9a9a;
            }

        }       
    }
}
$border:1px solid #dadada;

#best{
    width: $width;
    height: 850px;
    margin: $auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $smallColor;
    border-bottom: $border;

    &>h2{
        font-size: 25px;
    }
    &>ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        li{
            width: 158px;
            text-align: center;
            border: $border;
            padding: 5px 0;
            border-radius: 17px;
            cursor: pointer;
            &:first-of-type{
                color: #fff;
                border: 1px solid #464B6F;
                background: #464B6F;
            }
        }
    }
    &>div{
        width: 100%;
        height: 715px;
        border-top: $border;
        display: flex;
        justify-content: space-between;
        &>ul{
            width: 30%;
            height: 715px;
            // overflow-y:scroll;
            &::-webkit-scrollbar {
                width: 7px;
                height: 7px;
                background-color: #ced4da;
              }
                &::-webkit-scrollbar-thumb {
                    background: #464B6F;
                }
            li{
                border-bottom: $border;
                line-height: 50px;
                font-size: 14px;
                padding-left: 5px;
                cursor: pointer;
                &:first-of-type{
                    border-bottom:3px solid#464B6F ;
                }
            }
        }
        &>div{
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .best1{
                width: 100%;
                height: 45%;
                display: flex;
                li{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: relative;
                    img{
                        width: 80%;
                        height: 50%;
                        align-self: center;
                    }
                    p{
                        font-size: 13px;
                    }
                    h3{
                        font-size: 17px;
                    }
                    span{
                        font-size: 12px;
                    }
                    div{
                        position: absolute;
                        width: 27px;
                        height: 27px;
                        background-color: $smallColor;
                        color: #fff;
                        font-size: 12px;
                        text-align: center;
                        line-height: 27px;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
@mixin title {
    width: $width;
    margin: $auto50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &>h2{
        font-size: 25px;
    }
    &>p{
        color:$greyColor;
        padding-bottom: 15px;
    }
    @content;
}
@mixin middle {
    height: 550px;
    
    &>p{
        border-bottom: $border;
    }
    ul{
        width: 100%;
        height: 310px;
        // background-color: #192c8d;
        display: flex;
        justify-content: space-around;
        li{
            width: 13%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-around;
            @include fontSize;
            img{
                width: 90%;
                height: 60%;
                align-self: center;
            }
            h3{
                height: 50px;
            }
        }
    }
    a{
        display: block;
        width: 100%;
        height: 90px;
        img{
            width: 100%;
        }
    }
}
@mixin fontSize {
    p{
        font-size: 13px;
        color: $smallColor;
    }
    h3{
        font-size: 17px;
    }
    span{
        font-size: 12px;
        color: $smallColor;
    }
}
#work{
    @include title;
    @include middle
}
#new{
    @include title;
    @include middle
}
#authors{
    @include title(){
        width: 100%
    };
    overflow: hidden;
    &>h2,p{
        width: $width;
        margin: $auto;
    }
    height: 275px;
    &_con{
        // width: 2240px;
        height: 175px;
        // transition: 2s linear;
        &>div{
            float: left;
            width: 120px;
            height: 175px;
            margin: 0 20px;
            @include column;
            justify-content: space-between;
            img{
                border-radius: 50%;
                height: 120px;
            }
            &>span{
                font-size: 11px
            }
            &>span,p{
                width: 100%;
                text-align: center
            }
        }
    }
}
#ad{
    @include title;
    height: 400px;
    ul{
        height: 300px;
        display: flex;
        justify-content: space-between;
        li{
            width: 13%;
            @include fontSize;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            img{
                width: 90%;
                height: 65%;
                align-self: center;
            }
            h3,p,span{
                padding-left: 13px;
            }
            .red{
                color: red;
            }
        }
    }
}
#popup{
    width: 100%;
    height: 63px;
    background-color: #8044ff;
    position: relative;

    div{
        width: $width;
        margin: $auto;
        height: 86px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);   
    }
    ul{
        width: 3450px;
        display: flex;
        li{
            width: 1150px;
            height: 86px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
#content{
    width: 100%;
    margin: 50px 0;
    #h2{
        width: $width;
        margin: 30px auto;
        height: auto;
    }
    &_box{
        width: 100%;
        height: 460px;
        overflow: hidden;
        position: relative;
        display: flex;
        .blur{
            // width: %;
            height: 100%;
            background-color: #fff;
            opacity: 0.5;
            position: relative;
            z-index: 2;
        }
        &>div:nth-of-type(2){
            width: $width;
            height: 100%;
            margin: 0 auto;
            position: relative;
            &>div{
                position: absolute;
                top:50%;
                z-index: 3;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
            }
            #content_prev{
                left: -30px;
            }
            #content_next{
                right: -30px;
            }
        }
    }
}
#sBox{
    width: 4600px;
    height: 100%;
    top:0;
    left: -1150px;
    position: absolute;
    
    @for $i from 1 through 8{
        .show#{$i}>div{
            background-image: url(../img/book#{$i}.jpg);
        }    
    }
    li{
        width: 550px;
        height: 100%;
        float: left;
        margin: 0 12.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 1px 1px 1px #e5e5e5;
        border: 1px solid #e5e5e5;
        &>div{
            @include backCover;
            width: 95%;
            height: 70%;
            align-self: center;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            position: relative;
            &::after{
                content: '';
                background-color: #000;
                opacity: 0.8;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &>div{
                position: relative;
                z-index: 1;
                width: 25%;
                height: 60%;
                background-color: #192c8d;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &>p{
                position: relative;
                z-index: 1;
                width: 40%;
                height: 80%;
                color: #ccc;
                font-size: 25px;
            }
        }
        h2,span{
            width: 95%;
        }
        span{
            color: #464B6F;
            font-size: 12px;
        }
    }
}

#key{
    width: $width;
    height: 360px;
    margin: $auto50;
    @include column;
    justify-content: space-between;
    &>div{
        width: 100%;
        height: 145px;
        display: flex;
        justify-content: space-between;
        &>div{
            width: 23.5%;
            height: 100%;
            background-color: #8044ff;
            @include backCover;
            p{
                font : {
                    size: 14px;
                    weight:bold ;
                }
                padding: 15px 18px;
            }
        }
        @for $i from 1 through 8{
            .key#{$i}{
                background-image: url(../img/key#{$i}.png);
            }
        }
        
    }

}
#note{
    width: 100%;
    height: 530px;
    color: #fff;

    @include backCover();
    background-image: url(../img/note1.png);
    &_con{
        width: $width;
        margin: 0 auto;
        height: 400px;
        display: flex;
        align-items: center;
        &>div:nth-of-type(1){
            width: 70%;
            height: 80%;
            @include column;
            justify-content: space-around;
            align-items: flex-end;
            &>p{
                width: 80%;
                font-size: 35px;
            }
            &>span{
                width: 80%;
            }
            &>a{
                width: 80%;
                color: #fff;
                font-size: 12px;
            }
        }
        &>div:nth-of-type(2){
            width: 30%;
            height: 70%;
            position: relative;      
            &>div{
                position: absolute;
                width: 370px;
                height: 290px;
                bottom: -130px;
                right: 0;
                background-image: url(../img/note2.png);
                @include backContain()
            }
            &>p{
                font-size: 35px;
                font-weight: bold;
            }
            &>span{
                display: block;
                width: 140px;
                text-align: end;
            }
        }
    }
}
#easy{
    width: $width;
    margin: $auto;
    margin-top: -150px;
    height: 400px;
    @include column;
    justify-content: space-between;
}
#thin{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    &>div{
        width: 260px;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 2px 10px #999;
        @include column;
        justify-content: space-around;
        align-items: center;
        &:nth-of-type(2){
            margin: 0 20px;
        }
        &>p{
            width: 70%;
            font-size: 18px;
            font-weight: bold;
            padding-top: 20px;
        }
        &>span{
            font-size: 15px;

            width: 70%;
        }
        &>div{
            width: 100%;
            height: 45%;
            background-image: url(../img/thin3.png);
            @include backContain()
        }
        @for $i from 1 through 3{
            .thin#{$i}{
                background-image: url(../img/thin#{$i}.png);
            }
        }
    }

}
#review{
    width: 100%;
    // margin: $auto;
    height: 110px;
    overflow: hidden;
    position: relative;
    border : {
        top:$border;
        bottom: $border;
    };
    &>span{
        display: block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include backCover();
        cursor: pointer;
    }
    &_prev{
        left: 0;
        background-image: url(../img/prev.png);
    }
    &_next{
        right: 0;
        background-image: url(../img/next.png);

    }
    ul{
        height: 100%;
        // background-color: #000;
        li{
            float: left;
            width: $width;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                // background-color: black;
                width: 75px;
                height: 75px;
            }
            div{
                width: 70%;
            }
        }
    }
}
#study{
    width: $width;
    height: 500px;
    margin:$auto50;
    @include column;
    justify-content: space-between;
    &_title{
        width: 100%;
        height: 100px;
        display: flex;
        &>h2{
            width: 30%;
        }
        &>p{
            font-weight: bold;
        }
    }
    &_content{
        width: 100%;
        height: 210px;
        display: flex;
        &>div{
            width: 25%;
            height: 100%;
            @include column;
            justify-content: space-between;
            h2{
                font-weight: normal;
                font-size: 22px;
            }
            p{
                height: 100px;
            }
        }
        .line{
            width: 30px;
            height: 5px;
            background-color: #000;
        }
    }
    &_end{
        width: 100%;
        // height: 150px;
        h2{
            font : {
                weight:normal ;

            }
        }
    }
}
#food{
    width: $width;
    height: 720px;
    margin: $auto50;
    @include column();
    justify-content: space-between;
    &_title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            font-size: 14px;
        }
    }
}
#food_img{
    width: 100%;
    height: 650px;
    background-color: #000;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90px;
        height: 90px;
        background-color: #000;
        @include backCover();
        background-image: url(../img/food_after.jpg);
    }
    &_left{
        width: 62%;
        height: 95%;
        background-color: aqua;
        background-image: url(../img/food1.jpg);
        @include backCover()
    }
    &_right{
        width: 36%;
        height: 95%;
        display: flex;
        justify-content: space-around;
        &>div{
            width: 46%;
            height: 100%;
            @include column();
            justify-content: space-between;
            &>div{
                width: 100%;
                height: 31%;
                @include backCover();
            }
        }
        @for $i from 2 through 7{
            .food#{$i}{
                background-image: url(../img/food#{$i}.jpg);
            }
        }
        .food7>img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}
footer{
    width: 100%;
    height: 210px;
    margin-top: 100px;
    #top{
        width: 100%;
        height: 60px;
        // background-color: #192c8d;
        border : {
            top:$border;
            bottom: $border
        } ;
        
       &>div{
        width: $width;
        height: 100%;
        margin: $auto;
        display: flex;
        align-items: center;
        p{
            // background-color: #192c8d;
            width: 170px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            font-weight: bold;

            border-right: $border;
        }
        span{
            padding-left: 60px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;

        }
       }
    }
    #bottom{
        width: $width;
        height: 150px;
        margin: $auto;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
#foot {
    &_logo{
        width: 130px;
        height: 26px;
        background-image: url(../img/logo.png);
        @include backCover()
    }
    &_list{
        width: 80%;
        height: 60%;
        @include column();
        justify-content: space-between;
        ul{
           width: 50%;
            display: flex;
            justify-content: space-between;
            li{
                color: #888;
            }
                
            a{
                font-size: 12px;
                color: #888;
                font-weight: bold;
            }
            #blue{
                color: blue;
            }
        }
        &>div{
            font-size: 10px;
            color: #888;
            &>a:not(:first-of-type):before{
                content: '|';
                margin: 0 5px;
            }
        }
    }
}
